* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1em 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* HEADER with utilities */

.row {
  margin: 0 -15px;
}

[class^="col-"] {
  float: left;
  padding: 0 15px;
}

.row:after {
  content:"";
  clear: both;
  display: table;
}

.col-100 {
  width: 100%;
}

.h-1 {
  height: 50px;
}

.h-2 {
  height: 330px;
}

.bg-pink {
  background-color: #E579E6;
}

.mt-1 {
  margin-top: 1em;
}

.bg-yellow {
  background-color: #E1D67A;
}

/* MAIN */
.bg-blue {
  background-color: #008CFF;
}

.bg-lightblue {
  background-color: #ABCFE7;
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.mb-1 {
  margin-bottom: 1em;
}

.pb-1 {
  padding-bottom: 1em;
}

/* Footer */

.bg-purple {
  background-color: #8801FE;
}
